{{ define "main" }}
<main role="main" class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center bg-info text-white-50 p-5">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        <div class="container">
            <div class="row my-3">
                {{ range (.Paginator 10).Pages }}
                    {{ partial "article" . }}
                {{ end }}
            </div>
            <div class="row">
                {{ partial "paginator.html" . }}
            </div>
        </div>
    </div>
</main>
{{ end }}