{{ range $taxonomyCategory, $taxonomy := .Site.Taxonomies }}
<div class="row shadow-lg p-3 mb-3 bg-white rounded">
    <div class="col-sm-12">
        <h5 class="text-justify">
            <a class="text-decoration-none text-reset" href="{{ "/" | relLangURL}}{{ $taxonomyCategory | urlize }}">{{ humanize $taxonomyCategory }}:</a>
        </h5>
        {{ range $value, $unused := $taxonomy }}
            <a class="text-decoration-none" href="{{ $taxonomyCategory | relLangURL }}/{{ $value | urlize | lower }}/">
                <span class="badge badge-info">{{ humanize $value }}</span>
            </a>
        {{ end }}
    </div>
</div>
{{ end }}